{
  "presets": [
    "@babel/preset-react", 
    "@babel/preset-env", 
    ["@emotion/babel-preset-css-prop", 
      {
      "sourceMap": false,
      "autoLabel": true,
      "labelFormat": "[local]",
      "throwIfNamespace": true
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}